<h1>pesto-input</h1>

<p>The pesto-input</p>

<h2>Available options</h2>

{{#pesto-code-sample
		  optionName="autoComplete"
		  type="Boolean"
		  defaultValue="true"
		  description="Turn on or off auto completion on the input"
		  snippetName="pesto-input-autocomplete"}}

{{!-- BEGIN-SNIPPET pesto-input-autocomplete --}}

	{{pesto-input autoComplete=true}}

{{!-- END-SNIPPET --}}

{{/pesto-code-sample}}

{{#pesto-code-sample
		  optionName="autoFocus"
		  type="Boolean"
		  defaultValue="false"
		  description="Automatically focus on input"
		  snippetName="pesto-input-autofocus"}}

{{!-- BEGIN-SNIPPET pesto-input-autofocus --}}

	{{pesto-input autoFocus=true}}

{{!-- END-SNIPPET --}}

{{/pesto-code-sample}}

{{#pesto-code-sample
		  optionName="disabled"
		  type="Boolean"
		  defaultValue="false"
		  description="Disable the input"
		  snippetName="pesto-input-disabled"}}

{{!-- BEGIN-SNIPPET pesto-input-disabled --}}

	{{pesto-input disabled=true}}

{{!-- END-SNIPPET --}}

{{/pesto-code-sample}}

{{#pesto-code-sample
		  optionName="label"
		  type="String"
		  description="The label"
		  snippetName="pesto-input-label"}}

{{!-- BEGIN-SNIPPET pesto-input-label --}}

	{{pesto-input label="My input"}}

{{!-- END-SNIPPET --}}

{{/pesto-code-sample}}




